<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>문건목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div th:if="${#lists.isEmpty(documents)}">
        <mark class="text-center"> 현재 등록된 파일이 없습니다. </mark>
    </div>
   <th:block th:each="document : ${documents}">
        <div>
            문건 번호 : <a th:href="|/files/${document.id}|" th:text="${document.id}"></a>
        </div>
        <div>
            저장시간 : <span th:text="${document.savedTime}"></span>
        </div>
        <div>
            Description : <span th:text="${document.description}"></span>
        </div>

        <hr />
    </th:block>

</div> <!-- /container -->
</body>
</html>