<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>FileAttach</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Description</th>
                <th>등록시간</th>
                <th>첨부파일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span th:text="${file.description}">파일설명</span>
                </td>
                <td>
                    <span th:text="${file.savedTime}">파일등록시간</span><br/>
                </td>
                <td>
                    <div th:each="file : ${file.attachFiles}">
                        <a th:href="|/attach/${file.id}|" th:text="${file.getUploadFileName()}"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div> <!-- /container -->
</body>
</html>