<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>확장자 설정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!-- jquery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/ext_edit.js"></script>
<body>
<style type="text/css">
    .myBtnBox {
        display: flex;
        background-color: rgb(233, 236, 239);
        box-sizing: border-box;
        border-radius: 0.3rem;
        min-width:100%;
        min-height:300px;
        height:auto;
        width:100%;
        padding:10px;
    }

</style>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <span class="font-weight-bold">고정확장자</span>
        <div th:each="ext : ${fixedExt}" class="form-check form-check-inline">
            <input type="checkbox" th:value="${ext.extName}" th:checked="${ext.checkedYn}" th:id="${#ids.seq('id_ext_')}" class="form-check-input">
            <label th:for="${#ids.prev('id_ext_')}"
                   th:text="${ext.extName}" class="form-check-label">exe</label>
        </div>
    </div>
    <div class="py-1">
    <hr/>
        <span class="font-weight-bold">커스텀 확장자</span>
        <div class="container-fluid" >
            <div class="row">
                <input class="col-xs-10 input-lg" maxlength="20" type="text" id="extName" placeholder="확장자 입력" name="extName">
                <div class="col-xs-2">
                    <input class="btn btn-primary float-right mx-1" th:onclick="|addExt()|" type="submit" value="+추가"/>
                </div>
            </div>
        </div>
        <span class="py-1 pull-right" th:text="${availSize}"></span>
        <div class="myBtnBox my-1">
            <div class="m-1" th:each="addExt : ${addedExt}">
                <input type="button" class="btn-sm btn btn-info" th:onclick="removeExt(this.getAttribute('value'))" th:value="|${addExt.extName}  X|"></input>
            </div>
        </div>
    </div>
</div>
</body>
</html>